* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f7f4;
}

.header {
    background-color: #66e0b3;
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: #0a3c2b;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #7cdeff;
    padding: 10px 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #50b8e7;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box {
    background-color: #d3f5e7;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-img {
    width: 200px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    text-align: left;
    font-weight: bold;
    color: #333;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    background-color: #36e57e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #28d76b;
}